@media (min-width: 375px) {
  .article-title {
    padding: 4px 24px 5.5px 10px;
  }
  .footer-button {
    display: flex;
    flex-direction: column;
  }
  .footer-icon {
    inline-size: 28px;
    block-size: 28px;
  }
  .main {
    gap: 50px;    
  }
}

@media (min-width: 1440px) {
  .article-title {
    padding: 4px 24px 2.5px 10px; /*в макете меньше паддинг*/
  }
  .footer-button {
    flex-direction: row;
  }
  .footer-icon {
    inline-size: 21px;
    block-size: 21px;
  }
  .main {
    gap: 49px; /*один убрала за счет рамки для красоты PP*/
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-name-main);
  font-variation-settings: var(--text-name-main-weight-main);
  color: var(--color-accent);
  background-image: var(--image-background);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 103px 0;
}

.header {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-bottom: 100px ;
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 25px;
  text-transform: uppercase;
  font-family: var(--text-name-title);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 18px;
  font-size: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-transform: uppercase;
}

.main {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  font-variation-settings: var(--text-name-main-weight-main);
  font-size: 18px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
}

.article-title {
  line-height: clamp(1.3125rem, 1.2245rem + 0.3756vw, 1.5625rem);
  font-size: 18px;
  font-variation-settings: var(--text-name-main-weight-title);
}

.container {
  position: relative;
  block-size: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-accent);
  object-fit: cover;
  object-position: center;
}

.img-brightness {
  filter: brightness(200%);
}

.img-grayscale {
  filter: grayscale(50%);
}

.img-hue {
  filter: hue-rotate(-20deg);
}

.img-sepia {
  filter: sepia(90%);
}

.img-invert {
  filter: invert(0.2);
}

.img-saturate {
  filter: saturate(350%);
}

.img-contrast {
  filter: contrast(70%);
}

.label {
  font-family: var(--text-name-title);
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--color-background), 
    0 1px var(--color-background), 
    1px 0 var(--color-background), 
    0 -1px var(--color-background);
}

@supports((text-stroke: 1px var(--color-background)) or (-webkit-text-stroke: 1px var(--color-background))) {
  .label {
      -webkit-text-stroke: 1px var(--color-background);
      text-stroke: 1px var(--color-background);
      text-shadow: none;
  }
} 

.article-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
}

.article-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
  gap: 8px;
}

.card__icon-button {
  padding: 0;
  width: 38px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: -2px;
}

.all_buttons {
  background-color: var(--color-background);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.card__like-button {
  inline-size: 130px;
  background-color: transparent;
  border: 2px solid var(--color-accent);
  color: black;
  position: relative;
}

.pix-p_text {
  inline-size: clamp(19.8125rem, 12.5722rem + 30.892vw, 40.375rem);
}

.footer {
  display: flex;
  justify-content: center;  
  padding-top: 50px;
}

.footer-button {
  inline-size: clamp(19.25rem, 18.6118rem + 2.723vw, 21.0625rem);
  padding: 15px 19px 15px 19px;
  position: relative;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
}

.footer-icon {
  fill: var(--color-hover);
  mix-blend-mode: difference;
  z-index: 1;
  flex-shrink: 0;
}

.button__text {
  z-index: 1;
  color: var(--color-hover);
  mix-blend-mode: difference; 
}

.dialog {
  background-color: var(--color-background);
  padding: 30px;
  outline: none;
  border: 2px solid var(--color-accent);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog:focus-visible {
  outline: none;
}

.dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

.dialog-open {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.dialog-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog .footer-icon {
  block-size: 39px;
  inline-size: 39px;
}

.dialog_text {
  text-transform: uppercase;
  font-family: var(--text-name-title);
  font-size: 14px;
  color: var(--color-accent);
  line-height: 21px;
}

.dialog_button {
  background-color: transparent;
  color: var(--color-accent);
  position: relative;
  inline-size: 100%;
  block-size: 38px;
}

.dialog_button .button__text {
  text-transform: uppercase;
}