:root.theme-dark {
    --text-name-main-weight-main: "wght" 465;
    --text-name-main-weight-title: "wght" 785;
    
    --color-background: #000000;
    --color-accent: #00cc14;
    --image-background: repeating-linear-gradient(to right, #d3d3d3, rgb(0, 0, 0 / 0) 2px);

}

:root.theme-light {
    --text-name-main-weight-main: "wght" 400;
    --text-name-main-weight-title: "wght" 700;

    --color-background: #ffffff;
    --color-accent: #000000;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --text-name-main-weight-main: "wght" 465;
        --text-name-main-weight-title: "wght" 785;
        
        --color-background: #000000;
        --color-accent: #00cc14;
    }
}


