:root {
    --text-name-title: 'PressStart2P-Regular', sans-serif;
    --text-name-main: 'Inter-Variable', sans-serif;
    --text-name-main-weight-main: "wght" 400;
    --text-name-main-weight-title: "wght" 700;
    --color-sparks: red;
  }
